<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068814868016-f2fqn39lml7vqhi44aeskeennllefrvh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068814868016-f2fqn39lml7vqhi44aeskeennllefrvh</string>
	<key>API_KEY</key>
	<string>AIzaSyC1KyqzkB_PPpvDOvl36H844Cn6nFMuQiA</string>
	<key>GCM_SENDER_ID</key>
	<string>1068814868016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aayushkumar.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chat-app-e66e5</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-e66e5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068814868016:ios:1d7482e51d95728c0157f5</string>
</dict>
</plist>